{% extends current_module.base_template %}
{% load i18n material_form material_frontend %}


{% block footer %}
{% endblock %}

{% block content %}
{% block left-panel %}

<center style="margin: 50px 50px 50px 50px;">
 
<h4>
MAC - Marco para la Aplicación de Criptoanálisis
</h4>

<h5>
versión 0.0.1 beta
</h5>

<hr />

<h6>
Grupo de Investigación en Criptografía y Seguridad Informática (GICSI), Escuela Superior <br />Técnica del Ejército (EST), Universidad de la Defensa Nacional (UNDEF).
<br />
<br />
2018
</h6>

<hr />

<br />
<br />
<br />

<h6>
Marco o <i>framework</i> para la aplicación de diferentes metodologías de criptoanálisis. La herramienta permite aplicar diferentes técnicas sobre archivos de "muestras" manejados por el sistema. Se incluye un módulo para la revisión comparativa de resultados.
<br />
Utilice las opciones que se presentan en el menú lateral izquierdo para acceder a los diferentes módulos del sistema.
</h6>

</center>

{% endblock left-panel %}
{% block right-panel %}{% endblock right-panel %}
{% block action_btn %}

{% endblock %}
{% endblock %}