
<ul>
    <li><a href="/macwebapp/muestras/"><i class="material-icons" style="margin-left: -30px;">file_upload</i>  Muestras</a></li>
    <li><a href="/macwebapp/tipomuestras/"><i class="material-icons">list</i>  Tipos de Muestra</a></li>
    <li><a href="/macwebapp/analisis/"><i class="material-icons" style="margin-left: -30px;">settings_input_composite</i>  Análisis (plugins)</a></li>
    <li><a href="/macwebapp/tipoanalisis/"><i class="material-icons">format_indent_increase</i>  Tipos de Análisis</a></li>
    <li><a href="/macwebapp/ejecuciones/"><i class="material-icons" style="margin-left: -30px;">subscriptions</i>  Ejecuciones</a></li>
    <li><a href="/macwebapp/resultados/"><i class="material-icons" style="margin-left: -30px;">check_circle</i>  Resultados</a></li>
    <li><a href="/macwebapp/reportes/"><i class="material-icons" style="margin-left: -30px;">library_books</i>  Reportes</a></li>
    <li><a href="/macwebapp/comparativas/"><i class="material-icons">done_all</i>  Comparativas</a></li>
    <li><a href="/macwebapp/bitacora/"><i class="material-icons">receipt</i>  Bitácora/Logs</a></li>
</ul>
